<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="nav.css">
</head>

<body>
    <section class="nav">
        <ul class="nav-menu">
            <li class="nav-item"><a href="#">Item 1</a></li>
            <li class="nav-item"><a href="#">Item 2</a></li>
            <li class="nav-item"><a href="#">Item 3</a></li>
            <li class="nav-item"><a href="#">Item 4</a></li>
            <li class="nav-item"><a href="#">Item 5</a></li>
            <li class="nav-item"><a href="#">Item 6</a></li>
            <li class="nav-item"><a href="#">Item 7</a></li>
            <li class="nav-item"><a href="#">Item 8</a></li>
            <li class="nav-item"><a href="#">Item 9</a></li>
        </ul>
    </section>
</body>

</html>